/* Estilos Generales */

section {
    margin: 1rem;
    border-radius: 2rem;
}

/* NAVBAR BS */
.navbar {
    background-color: #f5f6f7;
}

.sm-icons{
    flex-direction: row;
    
}

.sm-icons .nav-link{
    padding-right: 1em;
    color: gray;
    font-size: 23px;
        
}

body{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;
    box-sizing: border-box;
}


/* MENU HTML CSS grids */
#menu{
    background-color: rgb(180, 180, 180);
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 250px);
    gap: 5px;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    "about about educacion educacion"
    "about about xperience contact";
}

#menu .tile{
   height: 100%; 
   overflow: hidden;
   cursor: pointer;
}

#menu .tile a {
    text-decoration: none;
}

#menu .tile .front{
    color: white;
    background-color: black;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    background-size: cover;
    background-position: center center;

    transition: all 0.3s ease;
}

#menu .tile .back{
    background-color: #222;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 28px;
}

#menu .tile:hover .front{
    margin-top: -100%;
}

#menu .educacion-tile:hover .front{
    margin-top: -50%;
}

.about-tile{
    grid-area: about;
}

.educacion-tile{
    grid-area: educacion;
}

.experiencia-tile{
    grid-area: xperience;
}

.contact-tile{
    grid-area: contact;
}


/* ACERCA DE BS grids */

#about{
    background-color: rgba(190, 190, 190, 0.877);
    min-height: 450px;
    
}

.card-border{
    border: solid 1px rgba(220, 220, 220, 0.877);
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.02);
}

/* EXPERIENCIA */

#xperience{
    background-color: rgba(230, 230, 230, 0.877);
}

/* EXPERIENCIA */

.edu-timeline{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;

}

.edu-timeline:before{
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.863);

}

.edu-timeline ul{
    margin: 0;
    padding: 0;

}

.edu-timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;

}

.edu-timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;

}

.edu-timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
    
}

.edu-content{
    padding-bottom: 20px;
    border: 1px solid #808080;
    padding: 10px 10px;
    border-radius: 20px;
    background: #fff;
    text-align: justify;
    
}

.edu-timeline ul li:nth-child(odd)::before{
    content: "";
    position: absolute;
    top: 24px;
    right: -11px;
    width: 20px;
    height: 20px;
    background: #303030;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(190, 190, 190, 0.877);

}
 
.edu-timeline ul li:nth-child(even)::before{
    content: "";
    position: absolute;
    top: 24px;
    left: -9px;
    width: 20px;
    height: 20px;
    background: #303030;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(190, 190, 190, 0.877);

}

.edu-timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;

}

.edu-timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
    line-height: 1.7;

}

.edu-timeline ul li h4{
    margin: 0;
    padding: 0;
    font-size: 16px;
    
}

.edu-timeline ul li:nth-child(odd) .edu-time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #45454d;
    color: #fff;
    border-radius: 9px;

}

.edu-timeline ul li:nth-child(even) .edu-time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #45454d;
    color: #fff;
    border-radius: 9px;

}

/* Adaptable y responsivo */

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width: 1020px) {
    #menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "about educacion"
        "xperience contact"
        ;
    }

    #menu .tile:hover .front {
        margin-top: -50vh;
    }
}
